<div id="main_no_row">
  <p class="heading_4">Thank you for shopping with So Random </p>
  <p class="intro">Your order was successfully created <br >and will be shipped today.<br>  <br>


  <p class="intro"> Please view more So Random T-Shirts in the Gallery!</p>
  <%= link_to image_tag("seemore.png"), :controller => "galleries",  :action => "index" %>
  <p class="intro">Feel Free to join the discussion and share as you like at Shirt Talk!</p>
  <%= link_to image_tag("shirttalk.png"), :controller => "posts",  :action => "index" %>
</div>