<div id="main_no_row">

    <% @shapes.each do |shape| %>
      <div class="model">
        <%= image_tag(shape.gallery_img) %>
      </div>
    <% end %>

  <div id="gallery_btm_left"></div>
    <div id="gallery_see_more">
      <%= link_to image_tag("seemore.png"), :controller => "galleries",  :action => "index" %>
    </div>
  <div id="gallery_btm_middle"></div>
  <div id="gallery_shop">
    <%= link_to image_tag("shop.png"), :controller => "grid",  :action => "tshirt" %>
  </div>
  <div id="gallery_btm_right"></div>
</div>