
<!--<div class="entry">-->
<%= render(row.line_items) %>

 <!--below is the original-->
<!--<%= button_to 'Starrrt Again', row, method: :delete%>-->

<span class="restart_btn"><%= link_to image_tag("restart.png"), @row, method: :delete %></span>
   <!--</div>-->